@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F2F5;
  color: #1C1E21;
}

/* Custom scrollbar for Neural Logs */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #00A884; border-radius: 10px; }

